body{
    background-color: rgb(224, 159, 37); 
    border: 3px solid black; 
    margin: 0px;
}
#Encabezado{
    border: 3px solid white; 
    margin: 2.5%;
    background-color: black; 
    color: white;
    font-size: 40px;
    text-align: center;
}
  
#Tabla--General{
    width: 100%;
}
/*
#Filas--Fotografia{

}
#Celdas--Fotografia{

}
*/
#Celdas--SobreMi{
    border: 3px solid white; 
    margin: 2.5%;
    background-color: black;
    color: white;
    text-align: center;
}
#SobreMi{
    border: 3px solid white; 
    margin: 2.5%;
    background-color: black;
    font-size: 30px;
    color: white;
    text-align: center;
}
#Celdas--ExperienciaPersonal{
    border: 3px solid white; 
    margin: 2.5%;
    background-color: black;
    color: white;
    text-align: center;
    width: 50%;
}
#ExperienciaPersonal{
    border: 3px solid white; 
    margin: 2.5%;
    background-color: black;
    font-size: 30px;
    color: white;
    text-align: center;
}
#Titulo--DatosPersonales{
    border: 3px solid white; 
    margin: 2.5%;
    color: white;
    text-align: center;
}
/* #Filas--DatosPersonales{

}
*/

#Celdas--DatosPersonales{
    border: 3px solid white;
    background-color: black; 
    color: white;
    width: 40%;
}
#Emojis{
    float:left;
    margin:1px;
    width: 20px;
}
#FormacionAcademica{
    border: 3px solid white;
    background-color: black;
    text-align: center; 
    color: white;
    font-size: 20px;
}
#Tabla--FormacionAcademica{
    color: white;
}
#Filas--FormacionAcademica{
    width: 100%;
}
#Celdas--FormacionAcademica{
    border: 3px solid white;
    background-color: black; 
    width: 100%; 
    text-align: left;
    color: white;
}
#ChristianAbadDJ--BlancoNegro{
    width: 40%;
    background-color: white;
    margin: 4.5%;
}
#ChristianAbadDJ--BlancoBlanco{
    width: 40%;
    margin: 4.5%;

}
#Progresion{
    border: 0.5px solid white; 
    padding-left: 1%;
}
#Fotografia{
    border: 3px solid black;
    margin: 1.5%;
    width: 50%;
}
#Tabla{
    border: 5px solid black;
    margin: 1.5%;
}
#Fila{
    

}
#Celda{
    border: 3px solid black;
    margin: 1.5%;
}