body{
    background-color: rgb(224, 159, 37); 
    border: 3px solid black; 
    margin: 0px;
}
#Encabezado{
    border: 3px solid white; 
    margin: 2.5%;
    background-color: black; 
    color: white;
    font-size: 40px;
    text-align: center;
}
#Tabla--General{
    width: 100%;
}
#Filas--Fotografia{
    width: 100%;
}
#Celdas--Fotografia{
    width: 40%;
}
#Celdas--SobreMi{
    border: 3px solid white; 
    margin: 0px;
    background-color: black;
    color: white;
    text-align: center;
}
#SobreMi{
    border: 3px solid white; 
    margin: 2.5%;
    background-color: black;
    font-size: 30px;
    color: white;
    text-align: center;
}
#Celdas--ExperienciaPersonal{
    border: 3px solid white; 
    margin: 2.5%;
    background-color: black;
    color: white;
    text-align: center;
    width: 50%;
}
#ExperienciaPersonal{
    border: 3px solid white; 
    margin: 2.5%;
    background-color: black;
    font-size: 30px;
    color: white;
    text-align: center;
}
#Titulo--DatosPersonales{
    border: 3px solid white; 
    margin: 2.5%;
    color: white;
    text-align: center;
    font-size: 20px;
}
#Filas--DatosPersonales{
    font-size: 12px;
}
#Celdas--DatosPersonales{
    border: 3px solid white;
    background-color: black; 
    color: white;
    width: 40%;
    font-size: medium;
}
#Emojis{
    float:left;
    margin:1px;
    width: 20px;
}
#FormacionAcademica{
    border: 3px solid white;
    margin: 2.5%;
    background-color: black;
    text-align: center; 
    color: white;
    font-size: 20px;
}
#Tabla--FormacionAcademica{
    color: white;
    width: 100%;
    height: 100%;
}
#Filas--FormacionAcademica{
    width: 100%;
}
#Celdas--FormacionAcademica{
    border: 3px solid white;
    background-color: black; 
    width: 100%; 
    text-align: left;
    color: white;
}
#LogosActuales{
    border: 3px solid white; 
    margin: 2.5%;
    padding: 2.5%;
    color: white;
    text-align: center;
    font-size: 20px;
}
#ChristianAbadDJ--BlancoNegro{
    width: 40%;
    background-color: white;
    margin: 4.5%;
}
#ChristianAbadDJ--BlancoBlanco{
    width: 40%;
    margin: 4.5%;
}
#Progresion{
    border: 3px solid white; 
    padding-left: 1%;
    font-size: medium;
}
#FAA{
    text-align: center;
    border: 3px solid white; 
    margin: 2.5%;
    padding: 2.5%;
    color: white;
    text-align: center;
    font-size: 15px;
    width: 50%;
}
#TFAA{
    text-align: center;
    border: 3px solid white; 
    margin: 2.5%;
    padding: 2.5%;
    color: white;
    text-align: center;
    font-size: 20px;
}
#TablaDatos{
    border: 3px solid white;
    background-color: black; 
    width: 40%; 
    text-align: left;
    color: white;
}
#TituloDatosInteres{
    text-align: center;
    border: 3px solid white; 
    margin: 2.5%;
    padding: 2.5%;
    color: white;
    text-align: center;
    font-size: 20px;
}
#Fotografia{
    border: 3px solid black;
    margin: 1.5%;
    width: 60%;
}