/*Para asignar estilo(flow) a las etiquetas que lleven el identificador foto utilizamos el # */
#Foto{
    /*Dimension del ancho de la etiqueta que lleve ese identificador*/
    /*width: 25%;*/
    /*Dimension del largo/alto de la etiqueta que lleve ese identificador*/
    /*height: 25%;*/
    /*Color de fondo*/
    background-color: red;
    /*Distancia desde que empieza la etiqueta hasta que se puede escribir --> Arriba, Abajo, Izq, Drcha*/
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    /*Formato de la localizacion de la etiqueta*/
    float: left;
    /*Donde queremos alinear el texto*/
    text-align: center;
    /*Color del texto*/
    color: seagreen;
    /*Como queremos que sea el borde*/
    border: 2px solid black;
}
/*Para asignar estilo(flow) a las etiquetas que lleven de la clase tabla utilizamos el . */
.Tabla{
    background-color: black;
    float: right;
}
/*Para asignar estilo(flow) a las etiquetas que se llamen de esta forma */
td{
    color: chartreuse;
    background-color: crimson;
    /*Estilo y tamaño de fuente*/
    font-family: monospace;
    /*la asignacion "px" se refiere a los pixeles*/
    font-size: 40px;
}
#Fila{
    color: cyan;
    font-family: sans-serif;
    /*font-size: 20px;*/
}
/*Tipos de herencias*/
div{
    width: 25%;
    height: 25%;
    font-size: 10px;
}
/*Especificar atributos para una etiqueta de una determinada clase*/
img.fotografia{
    width: 50%;
}