body{
    background-color: gray;
}

#logo{
    border: 3px solid white; 
    margin: 2.5%;
    padding: 2.5%;
    color: white;
    position: static;
    width: 20%;
    float: left;
}

#tiempo{
    float: right;
    width: 27.5%;
    margin-top: 25%;
    text-align: center;
    font-size: 200%;
    font-family: Cambria;
}

#video1, #video2, #video3, #video4{
    margin-left: 27.5%;
    margin-right: 27.5%;
    text-align: center;
}

#btn_src_on, #btn_src_test ,#btn_src_off, #camara1, #camara2, #camara3{
    font-size: 250%;
    margin: 5%;
    padding: 2.5%;
    border-radius: 150px;
    background-color: transparent;
    border: none;
}
