/* Estilo del Canvas. Lo bordeamos con una linea negra y le damos fondo azul para distinguirlo */

canvas{
    background-color: lightblue;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
}